.avatar-image {
    width: 200px;
}

.navigation ul,
.social ul {
    list-style: none;
    padding: 0;
}

.navigation li,
.social li {
    display: inline-block;
}

.social li {
    margin-right: 20px;
}

.subtitle {
    font-size: 1.3em;
}

.navigation a:link {
    text-decoration: none;
}

body {
    font-size: 18pt;
}

.cyberpunk-padding {
    padding: 10px 60px;
}

.social a {
    color: black;
}

html,
body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box header {
    flex: 0 1 auto;
}

.box main {
    flex: 1 1 auto;
    margin-bottom: 60px;
}

.box footer {
    flex: 0 1 160px;
}

.row {
    margin-right: 0;
}

footer .cyberpunk::after {
    content: none;
}

.post .date {
    font-weight: bold;
    color: #136377;
}

.post {
    margin-bottom: 60px;
}

footer {
    font-size: 16pt;
    text-align: right;
}

footer section {
    padding: 60px;
}

.cyberpunk-image {
    max-width: 50%;
}


@media screen and (min-width: 701px) {
    .cyberpunk-video {
        width: 590px;
        height: 345px;
    }

    iframe {
        width: 550px;
        height: 305px;
    }

    .cyberpunk-video {
        padding: 30px ;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 15px;
        clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
        background-color: #000;
        max-width: calc(100% - 10px);
    }

    section.cyberpunk.black .cyberpunk-video {
        background-color: var(--yellow-color);
        color: #000;
    }

    .cyberpunk-video > iframe {
        margin-top: 15px;
        margin-left: 15px;
    }
}
