{{ define "main" -}}
<section class="cyberpunk black">
    {{ if isset .Data "Term" }}
        <h1 class="cyberpunk glitched">{{ .Data.Term }}</h1>
    {{ else }}
        <h1 class="cyberpunk glitched">{{ .Title }}</h1>
    {{ end }}

    <div class="recent-posts">
        {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
        {{ range $paginator.Pages }}
        <article class="post">
            <h1 class="cyberpunk"><a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup>DRAFT</sup>{{ end }}</a></h1>
            <p>
                {{ if isset .Params "description" }}
                    {{ .Description }}
                {{ else if gt (len .Plain) 120 }}
                    {{ slicestr .Plain 0 120 | htmlUnescape }}...
                {{ else }}
                    {{ .Plain | htmlUnescape }}
                {{ end }}
                <br>
                <span class="date">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
            </p>
        </article>
        {{ end }}
        {{ partial "paginator.html" . }}
    </div>
</section>
{{ end }}
